<!DOCTYPE html>
<html>
<head>
	<title></title>

<meta charset="utf-8">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>

	<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Movie Search</a>
    </div>
  </nav>

<h2>Search for a Movie or Show</h2>

<div class="container">
<form action="/results" method="GET">
    <input type="text" placeholder="search term" name="search">
</form>
</div>






</body>
</html>


